<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SonarMetrics.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SonarMetrics.Console.Properties.Settings>
            <setting name="SonarBaseUrl" serializeAs="String">
                <value>http://g100603sv47b:9000/</value>
            </setting>
            <setting name="ProjectsUrl" serializeAs="String">
                <value>api/projects/index</value>
            </setting>
            <setting name="MetricsUrl" serializeAs="String">
                <value>api/measures/component?componentKey={0}&amp;metricKeys=sqale_rating,coverage</value>
            </setting>
        </SonarMetrics.Console.Properties.Settings>
    </userSettings>
</configuration>